ul{
    list-style: none;
}

ul,li a{
    text-decoration: none;
    color: #014675;
}  

ul li a:hover {
    text-decoration: underline;
  }

a{
    text-decoration: none;
    color: #014675;
}

a:hover{
    text-decoration: underline;
}

.carousel-blog img {
    height: 500px;
    object-fit: cover; 
}


.item:hover{

    background-color: bisque;
}

.accordion-button:hover {
    background-color: transparent;
  }

  /* Uklanjanje bordera */
  .accordion-item {
    border: none;
  }

  .img-fluid:hover {
    opacity: 0.8; 
    cursor: pointer; 
}

.main-image {
    width: 95%;
    height: auto;
    max-height: 500px; 
}

.accordion-header .accordion-button {
    background-color: transparent !important;
    color: initial !important;
    box-shadow: none !important;
}

.accordion-body {
    background-color: transparent !important;
}

.fixed-image {
    width: 21.8rem; 
    height: 12.5rem; 
}

.custom-button {
    background-color: transparent;
    color: #ff9900; 
    border:1px solid  #ff9900;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .custom-button:hover{
      background-color: #fef5e4;

    }
    .sing-register-form input::placeholder {
    color:#b3c268;
}

.sing-register-form input{
  border-color: #f79420;
}